:root {
  --dark-brown: #4a2c2a;
  --dark-ash: #333333;
  --brownish-white: #f5f5f5;
  --ash-white: #e5e5e5;

  --sidebar-bg: var(--ash-white);
  --sidebar-text: var(--dark-brown);
  --bottom-nav-bg: var(--ash-white);
  --bottom-nav-text: var(--dark-brown);
}

.dark {
  --sidebar-bg: var(--dark-ash);
  --sidebar-text: var(--brownish-white);
  --bottom-nav-bg: var(--dark-ash);
  --bottom-nav-text: var(--brownish-white);
}

body {
  background-color: var(--ash-white);
  color: var(--dark-brown);
}

.dark body {
  background-color: var(--dark-ash);
  color: var(--brownish-white);
}
